/*Abhilash Gupta*/


@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500italic,300);





a:hover, a:visited, a:link, a:active
{
color: #FFFFFF; 
text-decoration: none !important;
outline: 0;
}

.headerbucket
{
letter-spacing:2px;
font-family: 'Ubuntu', sans-serif;
font-weight:500;
font-style:italic;
width:100%;
background-color:#2a2a2a;
height:8vmin;
}

.mainbody
{
padding:0px;
width:100%;
background-color:#F1F1F1;
height:100%;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.headingbig
{
margin-left:20px;
color:#ffffff;
font-size:7vmin;
}

.logoutp
{
position:relative;
margin-top:3vmin;
float:right;
margin-right:10px;
font-size:3vmin;
color:#FFFFFF;
}

.leftside
{
font-family: 'Roboto', sans-serif;
margin-left:0px;
float:left;
background-color:#f0f0f0;
width:25%;
margin-top:0px;
height:100%;
}

.bucketitemsdiv
{
border:#000000 solid 1px;
margin-left:0px;
width:100%;
background-color:#f0f0f0;
text-align:center;
word-wrap:break-word;
border-radius:5px;
}

.bucketitemsdiv:hover
{
cursor: hand;
cursor: pointer;
background-color:#e0e0e0;
}

.bucketitemsdiv:active
{
background-color:#548687;
}

.bucketitemsp
{
font-family: 'Ubuntu', sans-serif;
font-weight:300;
text-align:center;
font-size:4vmin;
color:#000000;
}

.bucketitemscost
{
color:#0f0f0f;
font-size:3vmin;
}

.centerside
{
background-color:#FAFAFA;
font-family: 'Roboto', sans-serif;
height:100%;
margin:0px;
float:left;
width:35%;
}

.centerheading
{
background-color:#ffffff;
font-size:5vmin;
word-wrap:break-word;
text-align:center;
}

.centercost
{
width:100%;
font-size:4vmin;
margin-top:10px;
text-align:center;
}

.centeradddiv
{
background-color:#ffffff;
color:#3f3f3f;
width:30%;
margin:auto;
font-size:7vmin;
text-align:center;
border-left:1px solid #000000;
border-right:1px solid #000000;
border-bottom:1px solid #000000;
}

.centersubtractdiv
{
border-left:1px solid #000000;
border-top:1px solid #000000;
border-right:1px solid #000000;
background-color:#ffffff;
color:#3f3f3f;
text-align:center;
width:30%;
margin:auto;
font-size:7vmin;
}

.centerquantity
{
border: 1px solid #000000;
height:100%;
width:100%;
text-align:center;
font-size:5vmin;
}

.centerquantitydiv
{
background-color:#000000;
height:40px;
width:40%;
margin:auto;
}

.centeradddiv:hover,.centersubtractdiv:hover
{
background-color:#399AE7;
}

.centeradddiv:active,.centersubtractdiv:active
{
background-color:#80A4ED;
}

.totalbillcenterdiv
{
text-align:center;
width:80%;
margin-left:10%;
font-size:6vmin;
}

.submitbuttondiv
{
background-color:#73B1B7;
text-align:center;
width:60%;
margin-left:20%;
color:#FFFFFF;
font-size:6vmin;
border-radius:5px;
}

.submitbuttondiv:hover
{
background-color:#9EBCE3;
cursor:hand;
cursor:pointer;
}

.rightside
{
font-family: 'Roboto', sans-serif;
border-left:3px solid #D1EEEE;
height:100%;	
background-color:#ffffff;
float:left;
width:40%;
}

.laundrybagp
{
font-size:6vmin;
}

.horizontalrow
{
height:3px;
width:90%;
background-color:#FAFAFA;
margin:auto;
}

.itemtablediv
{
background-color:#f0f0f0;
font-family: 'Ubuntu', sans-serif;
}

.itemtableitem
{
display:inline-block;
width:40%;
font-size:3vmin;
text-align:center;
}

.itemtablequantity
{
letter-spacing:-0.5px;
display:inline-block;
width:20%;
font-size:3vmin;
text-align:center;
}

.itemtablecost
{
letter-spacing:-0.5px;
display:inline-block;
width:20%;
font-size:3vmin;
text-align:right;
}

.bagitemspdiv
{
width:40%;
text-align:center;
display:inline-block;
font-size:3vmin;
}

.bagitemsqdiv
{
width:20%;
text-align:center;
display:inline-block;
font-size:3vmin;
}

.bagitemscdiv
{
width:20%;
text-align:right;
display:inline-block;
font-size:3vmin;
}

.totalbillrightdiv
{
width:100%;
font-size:4vmin;
}

.totalbillrightqdiv
{
display:inline-block;
margin-left:40%;
width:20%;
text-align:center;
}

.totalbillrightpdiv
{
display:inline-block;
width:20%;
text-align:right;
}